body {
    height: 100%;
    margin: 0;
}


.container {
    display: grid;
    /* grid-template: 100px 100px 500px 100px / 300px 900px; */
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(auto-fit,minmax(2,1fr));
    gap: 15px;
    padding: 15px;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    
}

.section {
    
    border-radius: 10px;
}

#article {
    display: flex;
    flex-direction: column;
    background: lightgray;

    
}

#header {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    background: gold;
}

#sidebar {
    grid-column: 1 / 1 ;
    grid-row: 2 / 4;
    background: orangered;
}

#footer {
    grid-column: 1 / 3 ;
    grid-row: 4 / 4;
    background: gray;
}

.section  {
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.section p {
    font-size: 18px;
}

#navigation {
    background: lightblue;
}